{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    The 30x30 grid is below. The full grid will <strong>not</strong> be shown to the estimator.
    </p>

    <td valign="middle" align="center">
	    <img src="/static/{{ group.grid_path }}" width="100%" vspace="20"/>
    </td>

    <p>
    The correct number of solid dots is <strong>{{ group.correct_answer }}</strong>.
    </p>

    <p>
    Please fill out the communication form on the next page with your advice to the estimator. You will be paid as 
    described previously, depending on the estimator's estimate.
    </p>

    {% next_button %}

{% endblock %}
