{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <h3>Conclusion</h3>

    {% if player.role == 'judge' %}
        <p>
        In this experiment, you played the role of <strong>judge</strong>. You earned a flat rate payment of <strong>{{ player.payoff }}</strong>.
        </p>
    {% else %}
        <p>
        In this experiment, you played the role of <strong>{{ player.role }}</strong>, and earned a total of <strong>{{ player.payoff }}</strong>.
        </p>
	<p>
	- You earned a flat rate payment of {{ Constants.base_reward }}.
	</p>
	{% if player.role == 'estimator' %}
	    <p>
	    - Your estimate was <strong>{{ group.estimate }}</strong> dots, while the correct answer was <strong>{{ group.correct_answer }}</strong>. Therefore, you earned a {{ estimator_grid_reward }} bonus, while your advisor earned a {{ advisor_grid_reward }} bonus.
	    </p>
	    <p>
	    - Additionally, you and your advisor were both eligible to receive additional bonuses for participating. There was {{ Constants.appeal_reward }} to be split evenly between you and your advisor, for {{ Constants.appeal_reward_split }} apiece. You had the option to instead pay {{ Constants.appeal_cost }} to send your case to a third-party judge. If the judge decided that your advisor treated you unfairly, you would receive the entire {{ Constants.appeal_reward }} bonus (and your advisor would receive no bonus).
	    {% if group.appealed %}
	        {% if group.appeal_granted %}
		    You chose to pay {{ Constants.appeal_cost }} to send your case to the judge. The judge decided that the advisor treated you unfairly. Therefore, you earned the entire {{ Constants.appeal_reward }} bonus.
		    </p>
		{% else %}
		    You chose to pay {{ Constants.appeal_cost }} to send your case to the judge. The judge decided that the advisor treated you fairly. Therefore, you and the advisor each earned a bonus of {{ Constants.appeal_reward_split }}.
		    </p>
		{% endif %}
	    {% else %}
		You chose not to send your case to the judge. Therefore, you earned an additional {{ Constants.appeal_reward_split }}.
		</p>
	    {% endif %}
	{% elif player.role == 'advisor' %}
	    <p>
	    - The estimator's estimate was <strong>{{ group.estimate }}</strong> dots, while the correct answer was <strong>{{ group.correct_answer }}</strong>. Therefore, the estimator earned a {{ estimator_grid_reward }} bonus, while you earned a {{ advisor_grid_reward }} bonus.
	    </p>
	    <p>
	    - Additionally, you and the estimator were both eligible to receive additional bonuses for participating. There was {{ Constants.appeal_reward }} to be split evenly between you and the estimator, for {{ Constants.appeal_reward_split }} apiece. The estimator had the option to instead pay {{ Constants.appeal_cost }} to send his/her case to a third-party judge. If the judge decided that you treated the estimator unfairly, the estimator would receive the entire {{ Constants.appeal_reward }} bonus (and you would receive no bonus).
	    {% if group.appealed %}
	        {% if group.appeal_granted %}
		    The estimator chose to pay {{ Constants.appeal_cost }} to send the case to the judge. The judge decided that you treated the estimator unfairly. Therefore, you earned no additional bonus.
		    </p>
		{% else %}
		    The estimator chose to pay {{ Constants.appeal_cost }} to send the case to the judge. The judge decided that you treated the estimator fairly. Therefore, you earned an additional {{ Constants.appeal_reward_split }}.
		    </p>
		{% endif %}
	    {% else %}
		The estimator chose not to send your case to the judge. Therefore, you earned an additional {{ Constants.appeal_reward_split }}.
		</p>
	    {% endif %}
	{% endif %}
    {% endif %}

    {% next_button %}

{% endblock %}
