{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
    In the dots-estimation task, you will be rewarded for the accuracy of your estimate.
    </p>
    <p>
    <strong>If you estimate is within 10 dots of the correct number</strong>, you will receive a {{ Constants.estimator_bonus }} bonus.
    </p>
    <p>
    <strong>If your estimate is off by more than 10</strong>, you will receive no bonus.
    </p>
    <p>
    For example, suppose the correct number of solid dots were <strong>450</strong>. The compensation scheme would be as follows:
    </p>

    <table style="width:100%" margin="20px">
	    <tr>
		    <td>If you guessed...</td>
		    <td>you would be paid a bonus of...</td>
	    </tr>
	    <tr>
		    <th>Less than 440</th>
		    <td>Nothing</td>
	    </tr>
	    <tr>
		    <th>440-460</th>
		    <td>{{ Constants.estimator_bonus }}</td>
	    </tr>
	    <tr>
		    <th>Greater than 460</th>
		    <td>Nothing</td>
	    </tr>
    </table><br/>


    {% next_button %}

{% endblock %}
