{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    Now we’d like to tell you more information about your advisor. Your advisor had access to the entire 30x30 grid 
    and knew the exact number of shaded-in cells, which was <strong>{{ group.correct_answer }}</strong>. 
    </p>
    <p>
    The picture the advisor saw is below:
    </p>

    <div style="border: thin solid black">

    <td valign="middle" align="center">
        <img src="/static/{{ group.grid_path }}" width="100%" vspace="20"/>
    </td>

    <p>
    The correct number of solid dots is <strong>{{ group.correct_answer }}</strong>.
    </p>

    </div>

    {% if group.disclosure == True %}
	<p>
	<strong>As specified earlier, your advisor was NOT compensated if you were accurate</strong>, but if you 
	<strong>overestimated</strong> the true number of solid dots. Your advisor had the following compensation 
	scheme:
	</p>
    {% else %}
	<p>
	<strong>Your advisor was compensated NOT if you were accurate</strong>, but if you 
	<strong>overestimated</strong> the true number of solid dots. Your advisor had the following compensation 
	scheme:
    {% endif %}

    <table style="width:100%" margin="20px">
	    <tr>
		    <td>If you guessed...</td>
		    <td>you were paid a bonus of...</td>
		    <td>the advisor was paid a bonus of...</td>
	    </tr>
	    <tr>
		    <th>Less than {{ row2_lower }}</th>
		    <td>Nothing</td>
		    <td>Nothing</td>
	    </tr>
	    <tr>
		    <th>{{ row2_lower }}-{{ row2_upper }}</th>
		    <td>{{ Constants.estimator_bonus }}</td>
		    <td>Nothing</td>
	    </tr>
	    <tr>
		    <th>{{ row3_lower }}-{{ row3_upper }}</th>
		    <td>{{ Constants.estimator_bonus }}</td>
		    <td>{{ Constants.advisor_bonus }}</td>
	    </tr>
	    <tr>
		    <th>{{ row4_lower }}-{{ row4_upper }}</th>
		    <td>Nothing</td>
		    <td>{{ Constants.advisor_bonus }}</td>
	    </tr>
	    <tr>
		    <th>Greater than {{ row4_upper }}</th>
		    <td>Nothing</td>
		    <td>{{ Constants.advisor_big_bonus }}</td>
	    </tr>
    </table><br/>

    <p><strong><em>
        Thus, your advisor could earn extra money if you overestimated the number of solid dots.
    </em></strong></p>

    {% next_button %}

{% endblock %}
