{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<p>
Now, we'd like you to make a decision about allocating resources.
</p>
<p>
The advisee and the advisor are both <strong>eligible to receive additional bonuses for participating</strong>. There is {{ Constants.appeal_reward }} to be split between the advisee and the advisor.
</p>
<p>
We now ask you as the judge to decide how to split the money, based on whether you think the advisee was treated unfairly by the advisor during the dots estimation task.
</p>

       {% next_button %}

{% endblock %}
