{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    Recall that the advisor told the advisee there were {{ group.recommendation }} solid dots and the advisee was {% if group.disclosure == False %}not{% endif %} informed that the advisor stood to benefit financially if she overestimated. Recall also that the advisee estimated there were {{ group.estimate }}.  As you know, the advisor earned {{ Constants.advisor_bonus }} if this estimate was above {{ group.correct_answer }}, and {{ Constants.advisor_big_bonus }} if the estimate was above {{ advisor_upper_bound }}. The advisee earned {{ Constants.advisee_bonus }} if the estimate was between {{ advisee_lower_bound }} and {{ advisee_upper_bound }}.
    </p> 
    <p>
    Below, we will ask you to make a judgment about whether the bonus should be split between the advisor and advisee equally ({{ Constants.appeal_reward_split }} apiece) or whether the advisee should get the whole {{ Constants.appeal_reward }} while the advisor gets nothing. 
    </p>
    <p><strong>
    If you believe that the advisee was treated unfairly, you should reward the entire bonus to the advisee. 
    </strong></p>
    <p><strong>
    If you believe that the advisee was treated fairly, you should split the bonus evenly.
    </strong></p>
    <p>
    Assuming the advisee chooses to pursue this appeal, the judgment you make will determine the actual payouts given to the advisee and the advisor. 
    </p>


    {% next_button %}

{% endblock %}
