{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    Thus, the advisor could earn extra money if the advisee overestimated the number of solid dots.
    </p>

    {% if group.disclosure == True %}
    <p>
    As you may recall, the advisor notified the advisee about this conflict of interest before the advisee provided an estimate.
    </p>
    {% else %}
    <p>
    As you may recall, the advisor did not notify the advisee about this conflict of interest before the advisee provided an estimate.
    </p>
    {% endif %}

    {% next_button %}

{% endblock %}
