{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    Thank you for your participating!
    </p>

    {% formfield player.email %}

    <div>
	<button name="entered_email" value="False" class="btn btn-primary btn-large">Skip</button>
	<button name="entered_email" value="True" class="btn btn-primary btn-large">Submit</button>
    </div>

    <p>
    Please be aware that your reward will be sent to you via email.
    </p>


{% endblock %}
