{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    {% if player.role == 'advisor' %}
        <p>Thank you for participating in this study. You will play the role of <strong>advisor</strong>. You have been paired with an "advisee."</p>
	<p>In this study, you will make decisions that may earn you monetary bonuses.</p>
    {% elif player.role == 'advisee' %}
        <p>Thank you for participating in this study. You will play the role of <strong>advisee</strong>. You have been paired with an "advisor."</p>
	<p>In this study, you will make decisions that may earn you monetary bonuses.</p>
    {% elif player.role == 'evaluator' %}
        <p>Thank you for participating in this study. You will play the role of <strong>judge</strong>. You have been paired with an "advisor" and an "advisee."</p>
	<p>In this study, you will make decisions that may earn you monetary bonuses.</p>
    {% endif %}

    {% next_button %}

{% endblock %}
