{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

<p>
Now, we'd like you to make a decision about allocating resources.
</p>
<p>
The advisor and the estimator are both <strong>eligible to receive additional bonuses for participating</strong>. There is {{ Constants.appeal_reward }} to be split between the advisor and the estimator.
</p>
<p>
It is your job as the <strong>judge</strong> to decide how to split the money. You should make this decision based on whether you think the estimator was treated unfairly by the advisor during the dots-estimation task.
</p>

       {% next_button %}

{% endblock %}
