{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p><strong>
    The estimator was paid a bonus if he/she guessed within 10 dots of the correct number.
    </p></strong>
    {% if group.disclosure == True %}
    <p><strong>
    As the advisor informed the estimator, the advisor was paid a bonus if the estimator overestimated.
    </strong></p>
    {% else %}
    <p><strong>
    Unbeknownst to the estimator, the advisor was paid a bonus if the estimator overestimated.
    </strong></p>
    {% endif %}

    <p>
    The dots-estimation task had the following compensation scheme:
    </p>

    <table style="width:100%" margin="20px">
	    <tr>
		    <td>If the estimator guessed...</td>
		    <td>the estimator was paid...</td>
		    <td>the advisor was paid...</td>
	    </tr>
	    <tr>
		    <th>Less than {{ row2_lower }}</th>
		    <td>Nothing</td>
		    <td>Nothing</td>
	    </tr>
	    <tr>
		    <th>{{ row2_lower }}-{{ row2_upper }}</th>
		    <td>{{ Constants.estimator_bonus }}</td>
		    <td>Nothing</td>
	    </tr>
	    <tr>
		    <th>{{ row3_lower }}-{{ row3_upper }}</th>
		    <td>{{ Constants.estimator_bonus }}</td>
		    <td>{{ Constants.advisor_bonus }}</td>
	    </tr>
	    <tr>
		    <th>{{ row4_lower }}-{{ row4_upper }}</th>
		    <td>Nothing</td>
		    <td>{{ Constants.advisor_bonus }}</td>
	    </tr>
	    <tr>
		    <th>Greater than {{ row4_upper }}</th>
		    <td>Nothing</td>
		    <td>{{ Constants.advisor_big_bonus }}</td>
	    </tr>
    </table><br/>

    <p>
    As you can see, the advisor could earn a bonus if the estimator overestimated the number of solid dots. The advisor could earn an even bigger bonus if the estimator overestimated by 100 or more.
    </p>

    {% next_button %}

{% endblock %}
