{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    Recall that the advisor told the estimator there were {{ group.recommendation }} solid dots and the estimator was {% if group.disclosure == False %}not{% endif %} informed that the advisor stood to benefit financially if she overestimated. Recall also that the estimator estimated there were {{ group.estimate }}.  As you know, the advisor earned {{ Constants.advisor_bonus }} if this estimate was above {{ group.correct_answer }}, and {{ Constants.advisor_big_bonus }} if the estimate was above {{ advisor_upper_bound }}. The estimator earned {{ Constants.estimator_bonus }} if the estimate was between {{ estimator_lower_bound }} and {{ estimator_upper_bound }}.
    </p> 
    <p>
    Below, we will ask you to make a judgment about whether the bonus should be split between the advisor and estimator equally ({{ Constants.appeal_reward_split }} apiece) or whether the estimator should get the whole {{ Constants.appeal_reward }} while the advisor gets nothing. 
    </p>
    <p><strong>
    If you believe that the estimator was treated unfairly, you should reward the entire bonus to the estimator. 
    </strong></p>
    <p><strong>
    If you believe that the estimator was treated fairly, you should split the bonus evenly.
    </strong></p>
    <p>
    Assuming the estimator chooses to pursue this appeal, the judgment you make will determine the actual payouts given to the estimator and the advisor. 
    </p>


    {% next_button %}

{% endblock %}
