{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    In a message to the estimator, which the estimator received before making a decision, the advisor recommended that the number of solid dots in the 30x30 grid was <strong>{{ group.recommendation }}</strong>.
    </p>

    {% if group.disclosure == True %}
    <p>
    The advisor’s message included a disclosure notice about his compensation scheme, which the estimator was able to view before making the ultimate estimate.
    </p>
    <p>
    The disclosure let the estimator know that the advisor was not compensated based on the accuracy of the estimator's estimate, but was paid if the estimator overestimated the true number of solid dots.
    </p>
    {% endif %}

    {% next_button %}

{% endblock %}
