{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}
   
    <p><strong>
    {{ header }}
    </strong></p>

    {% comment %}
    <!--
    <table class="table">
        {% for field in form %}
            <tr>
                <th>{{ field.label }}</th>
                {% for choice in field %}
                    <td>{{ choice }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table><br/>
    -->
    {% endcomment %}

    {% for field in form %}
    {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
