{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block content %}

    <p>
    The judge will see that your advisor told you there were <strong>{{ group.recommendation }}</strong> dots and 
    that you were {% if group.disclosure == False %}not {% endif %}informed that your advisor stood to benefit 
    financially if you overestimated.
    </p>
    <p>
    The judge will know that the correct number of dots is {{ group.correct_answer }}. The judge will also see that 
    you estimated there were <strong>{{ group.estimate }}</strong> dots. The judge will see how much both you and 
    your advisor earned.
    </p>
    <p><strong>
    The judge will then make a decision about whether you are entitled to 100% of the 
    {{ Constants.appeal_reward }} bonus or whether it should be split evenly between you and your advisor. 
    </strong></p>

    {% next_button %}

{% endblock %}
