{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <h3>
    Advisee's payment
    </h3>
    <p>
    The advisee will be rewarded for the accuracy of his or her estimate of the correct number of solid 
    dots in the 30x30 grid that you see.
    </p>
    <p>
    <strong>If the advisee's estimate is within 10 dots of the correct number</strong>, the advisee will 
    receive a bonus of $5.
    </p>
    <p>
    <strong>If the advisee's estimate is off by more than 10</strong>, he or she will receive no bonus.
    </p>
    <p>
    For example, if the correct number of solid dots is 450, the advisee will earn a $5 bonus if he or she 
    estimates a number between 440-460. If the advisee estimates 439 or lower, or 461 or higher, he or she 
    will receive no bonus.
    </p>
    <h3>
    Your payment
    </h3>
    <p>
    As the advisor, you will receive a $5 bonus <strong>if the advisee provides an estimate that is greater 
    than the correct value.</strong>
    </p>
    <p>
    You will receive a $10 bonus <strong>if the advisee provides an estimate that is 100 dots or more over
    the correct value</strong>.
    </p>
    <p>
    For example, if the correct number of solid dots is 450, and the advisee estimates 451 dots, then you 
    will receive a $5 bonus. If the advisee estimates that the number of solid dots was 550 or more, then 
    you would receive a $10 bonus.
    </p>
    <p>
    Note that if the advisee does not estimate above the correct number, you will receive nothing. For 
    instance, if the advisee estimates 450 or lower, you will receive nothing.
    </p>

    {% next_button %}

{% endblock %}
