{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
    As the advisor, you will be shown the full grid and told the actual number of solid dots. The full grid and 
    correct number of dots will <strong>not</strong> be shown to the advisee.
    </p>
    <p>
    The advisee is aware that the number of solid dots can vary from 0-900, and that you had access to the full grid.
    </p>
    <p>
    From your advice and from viewing the small portion of 3x3 dots, the advisee will make his or her estimate 
    of the correct number of solid dots in the full grid.
    </p>

    {% next_button %}

{% endblock %}
